.site-header {
    display: flex;
    justify-content: space-between;
    color: white;
}

.site-header nav ul {
  display: flex;
}

.site-header nav li {
  list-style: none outside;
  padding: 0 0.5em;
}

img {
    width: 3.5rem;
    object-fit: contain;
  }
