.site-header {
    display: flex;
    justify-content: space-between;
}

.site-header nav ul {
  display: flex;
  gap: 0.5rem
}

.site-header nav li {
  list-style: none outside;
}

img {
    width: 3.5rem;
    object-fit: contain;
  }
