.site-footer {
    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; */
    display: flex;
    justify-content: space-around;
}

ul {
    margin-top: -0.1px;
}

li {
    list-style-type: none;
    padding: 0.2em 0;
}

.contacts p {
    max-width: 15em;
}