<footer class="site-footer">
    <h2>Managment Systems</h2>
    <ul class="socials">
        <h2>Social Network</h2>
        <li>LinkedIn</li>
        <li>Facebook</li>
        <li>Instagram</li>
        <li>Twitter</li>
    </ul>
    <ul class="contacts">
        <h2>Contact Us</h2>
        <li>Old Shire Rd 12 EN9 3DU LONDON</li>
        <li>+44 1 345 657 67</li>
        <li>managment.systems&#64;gmail.com</li>
    </ul>
    <ul class="explore">
        <h2>Explore</h2>
        <li>About us</li>
    </ul>
</footer>
