.site-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #4754b2;
}

ul {
    margin-top: -0.1px;
}

li {
    list-style-type: none;
    padding: 0.2rem 0;
}