.container {
    max-width: 60em;
    margin: 0 auto;
  }

.site-section {
    padding: 2em;
}

.site-section.site-header {
    background: rgb(37, 104, 163);
}

.site-section.banner {
    background: rgb(87, 141, 187);
    color: white;
    text-align: center;
}

.action {
    background-color: #4754b2; 
    border: none;
    border-radius: 45%;
    color: white;
    padding: 0.75em 1.6em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
  }