* {
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
    font-family: "Georgia", sans-serif;
    background: radial-gradient(circle at top left, #a3a9af, #615d6b);
    color: #4754b2;
    margin: 0;
    padding: 0;
    height: 100%;
  }
